main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}
table {
	border-collapse: collapse;
	width: 100%;
}
thead {
	background-color: var(--primary);
}
tr {
}
td,
th {
	padding: 0.5em;
	border-bottom: 1px solid gray;
}
.pagination-control {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-top: 1em;
	button {
		border: none;
		cursor: pointer;
	}
	& > * {
		background-color: var(--primary);
		padding: 0.2em 0.6em;
		border-radius: 5px;
	}
}
